body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#f0f7ff;
}

/* HEADER */

header{
  background:#050e24;
  color:white;
  padding:20px;
  text-align:center;
}

/* NAVBAR */

nav a:hover{
  color:#93c5fd;
}

/* HERO SECTION */


.nav{
    z-index: 5;
    box-shadow: 0px 0px 50px rgba(4, 4, 4, 0.412);
    background-color: rgb(17, 12, 48);
    top:0px;
    position: sticky;
    justify-content: end;
    display: flex;
    padding: 0px 40px;
    font-size: 15px;
}
.nav a{
     text-decoration: none;
}

.nav p{
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px 30px;
    background-color: rgb(17, 12, 48);
    transition: all 0.2s ease-in-out;
}

.nav p:hover{
    background-color: rgb(50, 41, 114);
}

.header{
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    padding: 100px 0px 200px 0px;
    background-image: url(../Assets/Images/Carshop3.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-color: #010635b7;
}

.header h1{
    text-align: left;
    font-size: 50px;

}

.header p{
    width: 500px;
    text-align: left;
    font-size: 20px;

}
.header img{
    border: 1px solid white;
    border-radius: 20px;
    height: 200px;
}

.hero{
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    text-align:center;
    padding:20px 20px;
}
/* BUTTON */

.btn{
    font-size: 20px;
    margin: 0px 10px;
    border: 1px solid rgb(255, 255, 255);
    background:rgb(171, 240, 255);
    color:hsl(0, 0%, 0%);
    padding:20px 40px;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    background:#a4b6fe;
}

#btn1{
    border: 1px solid rgb(255, 255, 255);
    color: #f0f7ff;
    background-color: #0a1936cb;
}

#btn1:hover{
    background-color: #0d2451;
}

/* FEATURES */

.AboutStuff{
    flex-wrap: wrap;
    gap: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 100px 0px 100px 0px;
    background-color: #050e24;
}

.details{
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.441);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    background-color:rgba(34, 44, 94, 0.304) ;
    color: #aafeff;
    transition: all 0.2s ease-in-out;
}

.details:hover{
    transform: translateY(-5px);
    border-color: #4097a8;
    background-color: #0d213a;
}

.details h2{
    font-size: 40px;
}

.details h1{
    font-size: 20px;
}


.features{
    background-color: #061335;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
    padding:100px 20px;
}

.card{
    color: #ffffff;
    background:rgba(90, 103, 148, 0.526);
    width:260px;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.765);
    border-top:5px solid #6f6ac7;
    transition: all 0.3s ease-in-out;
}

.card:hover{
    transform: translateY(-5px);
    background:rgba(181, 208, 255, 0.402);
}

.card h3{
  color:#d3d8ff;
}

/* HOW IT WORKS */

.how{
    color: #ffffff;
    background:#415888;
    text-align:center;
    padding:60px 20px;
}

.how h2{
    color:#ffffff;
}

/* FOOTER */

footer{
  background:#0f172a;
  color:white;
  text-align:center;
  padding:20px;
  margin: 0px;
}

